body {
	
    background: url(../images/piano.jpg) no-repeat center fixed;
    background-size: cover;
    color: white;
}

.jumbotron, .btn {
	background-color: rgba(238,238,238,0.4);
}

.done {
	margin: 30px;
}